*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #aab8c7;
    padding: 100px;
}

header{
    background-color: #a8b3bd;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

h2{
    color: #021324;
    margin-top: 10px;
}

p, li{
    color: #5D6D7E;
}

section{
    background-color: #FFFFFF;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}
